:root {
    --bg-color: #fafafa;
    --text-color: #1b1e24;
}
.modal {
    display: none;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
  }
  .modal-container {
    background-color: var(--bg-color);
    padding: 30px;
    width: 350px;
    max-width: 100vw;
    max-height: 100vh;
    border-radius: 3px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  .modal.wide .modal-container {
    width: 650px;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .modal-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 1.25;
    color: var(--text-color);
    box-sizing: border-box;
  }
  .modal-icon {
    height: 45px;
    width: 45px;
    vertical-align: middle;
    margin-right: 5px;
  }
  .modal-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.8);
  }
  .modal-text img {
    width: 100%;
    max-height: calc(100vh - 200px);
    object-fit: contain;
  }
  .modal-button {
    font-size: 0.875rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 0.25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    padding: 0.5rem 1rem;
  }
